.App {
  text-align: center;
}

h4 {
  margin: 0px;
  margin-bottom: 5px;
  margin-left: -20px;
}

ul {
  padding-left: 20px;
  margin: 0px;
  margin-top: 20px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: min-content;
}